@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html,body{
	width: 100vw;
    box-sizing: border-box;
 
}

.bar{
    background-color: yellow;
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
    height: 30px;
}

.foo{
    background-color: gray;
    display: block;
    position: sticky;
    height: 30px;
}

.easy{
    background-color: cyan;
    display: block;
    position: relative;
    top: 100px;
    /* left: 70px; */
    left: 0px;
    height: 30px;
}

.fox{
    background-color: cyan;
    display: block;
    position: relative;
    top: 100px;
    left: 270px;
    height: 30px;
}

.diamond{
    width: 0;
    height: 0;
    border: 110px solid transparent;
    border-bottom: 65px solid gainsboro;
    position: relative;
    top: -25px;
}

.diamond:after {
	content: '';
    position: absolute;
    left: -110px;
    top: 65px;
    width: 0;
    height: 0;
    border: 110px solid transparent;
    border-top: 66px solid gainsboro;
}

.line{
    height: 150px;
    width: 180px;
    border-bottom: solid 1px gainsboro;
}

.process{
    position: relative;
    height: 140px;
    top: 80px;
    width: 220px;
    display: inline-block;
    border: solid 1px gainsboro;
    border-radius: 5px;
    background-color: white;
}

.ifel{
    content: '';
    position: absolute;
    top: -105px;
    /* left: 422px; */
    border-left: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: 185px;
    height: 250px;
}

.ifthen{
    content: '';
    position: relative;
    top: -110px;
    /* left: 90px; */
    border-left: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: 0px;
    height: 200px;
}

.endifel{
    width: 0px;
}
.endifel div.rect{
    position: absolute;
    top: 172px;
    border-left: 1px solid gainsboro;
    width: 185px;
    height: 152px;
}

.endprocess{
    z-index: 2;
    position: relative;
    top: 125px;
    width: 50px !important;
    height: 50px !important;
    background: white;
    border-radius: 50%;
    border: solid 1px gainsboro;
}

.endprocess div.arrow{
    top: 17px !important;
    width: 0px !important;
}

.circle{
    border-radius: 50%;
    width: 10px;
    position: relative;
    background-color: gainsboro;
    height: 10px;
    top: 145px;
    right: 4px;
    z-index: 2;
}

.arrow{
    width: 0;
    position: absolute;
    height: 0;
    top: 144px;
    margin-left: -10px;
    border-top: 5px solid transparent;
    border-left: 10px solid gainsboro;
    border-bottom: 5px solid transparent;
}

ul{
    display: flex;
    list-style: none;
}

ul#main{
    display: table;
    padding: 20px;
}

li{
    top: 25px;
    width: 220px;
    height: 320px;
    text-align: center;
    position: relative;
}

li.half {
    width: 90px;
    text-align: center;
}

li.half div {
    width: 90px;
    text-align: center;
}

.invisible{
    visibility: hidden;
}

.branch{
    display: flex;
}

.ui button{
    width: 150px;
    height: 50px;
}

.d-body{
    position: absolute;
    right: -73px;
    top: 20px;
    z-index: 1;
    width: 150px;
    height: 90px;
}

.abs{
    position:absolute;
}